<!DOCTYPE html>
<html lang="en">
	<head>
		<title>YelpCamp</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		/>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/campgrounds">YelpCamp</a>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="#">login</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
					</ul>
				</div>
			</div>
			`
		</nav>
	</body>
</html>
